
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar label {
  margin-right: 10px;
}

.toolbar input[type="number"] {
  width: 60px;
}

.toolbar button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toolbar button:hover {
  background-color: #1e7322;
}

.toolbar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 120px;
  margin-right: 10px;
}

.toolbar button i {
  margin-right: 5px;
}

  .table-container {
    overflow-x: auto;
  }
  
  .table {
    border-collapse: collapse;
    width: 0%;
  }
  
  .table th,
  .table td {
    padding: 0px; 
    text-align: center;
    border-bottom: none;
    background-color: #f1f1f1eb;
    margin: 0px;
  }
 /* input {
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
    margin: 0 0px 0px 0;
}
input:focus {
  border-color: #0078D7;
  outline: none;
}*/
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /*.table input[type="text"] {
    width: 100%;
    padding: 4px;
    border: none;
    background-color: red;
  }
  
  .table input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 20px #4caf50;
  }*/

  /* Estilos para el modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    width: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-title {
    font-size: 24px;
    margin-top: 0;
  }
  
  .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: #ccc;
    color: #fff;
  }
  
  .modal-close {
    margin-left: 10px;
  }

  .highlight {
    background-color: rgb(228, 240, 247); /* Cambia el color de fondo al resaltar */
  }
  .celda{
    border-radius: 0%;
    border-color: #aacdd2;
    right: 0%;
    padding: 5px 10px;
  }
  input{
    background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #0dc4ed;
  cursor: pointer;
  transition: 0.5s;
  }


